---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostItem from '../../layouts/PostItem.astro';
import Title from '../../components/Title.astro';
import WorkItem from '../../layouts/WorkItem.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog', ({ data }) => { return import.meta.env.PROD ? data.isDraft !== true : true; })
  const allWorks = await getCollection('works')
  const postTags = allPosts.map((post: any) => post.data.tags).flat(); 
  const workTags = allWorks.map((work: any) => work.data.tags).flat(); 
  const uniqueTags = [...new Set(postTags.concat(workTags))];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.data.tags.includes(tag));
    const filteredWorks = allWorks.filter((work: any) => work.data.tags.includes(tag))
    return {
      params: { tag },
      // props: { posts: filteredPosts },
      // props: { projects: filteredProjects },
      props: { posts: filteredPosts, works: filteredWorks}
    };
  });
}

const { tag } = Astro.params;
// const { posts } = Astro.props;
// const { projects } = Astro.props;
const { posts, works } = Astro.props;

---
<BaseLayout pageTitle={tag}>
  <Title>#{tag}</Title>
  <ul>
    {posts.map((post: any) => <PostItem post={post}/>)}
    {works.map((work: any) => <WorkItem work={work}/>)}
  </ul>
</BaseLayout>