---
import Title from "../components/Title.astro";
const pageTitle = "About";

const me = {
  name: "I7T5",
  hobbies: ["coding", "math", "reading", "photography"],
};

const skills = {
  programmingLanguages: ["Python", "Java", "JavaScript", "SQL", "Swift", "R", "C"], 
  tools: ["Git", "GitHub", "HTML/CSS", "Linux", "Jupyter Notebook", "Xcode", "VS Code", "Intellij IDEA"],
  librariesAndPackages: ["scikit-learn", "matplotlib", "numpy", "JUnit"],
  languages: ["English", "Chinese"]
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>

    <Title>{pageTitle}</Title>
  </body>
</html>
