---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostItem from "../layouts/PostItem.astro";
import Title from "../components/Title.astro";
const allPosts = await getCollection("blog");
const pageTitle = "Blog";
---

<BaseLayout>
  <Title >{pageTitle}</Title>
  <!-- Words useful or interesting (or neither) --->
  <ul>
    {allPosts.map((post: any) => <PostItem post={post}/>)}
  </ul>
</BaseLayout>
