---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostItem from "../layouts/PostItem.astro";
const allPosts = await getCollection("blog");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map((post: any) => <PostItem url={`/posts/${post.id}`} title={post.data.title}/>)}
  </ul>
</BaseLayout>
