---
import Links from "../components/Links.astro";
import Title from "../components/Title.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";

const me = {
  name: "I7T5",
  hobbies: ["coding", "math", "reading", "photography"],
};

const skills = {
  programmingLanguages: [
    "Python",
    "Java",
    "JavaScript",
    "SQL",
    "Swift",
    "R",
    "C",
  ],
  tools: [
    "Git",
    "GitHub",
    "HTML/CSS",
    "Linux",
    "Jupyter Notebook",
    "Xcode",
    "VS Code",
    "Intellij IDEA",
  ],
  librariesAndPackages: ["scikit-learn", "matplotlib", "numpy", "JUnit"],
  languages: ["English", "Chinese"],
};
---

<BaseLayout>
  <Title>Ina Tang</Title>
  <p class="text-secondary mb-2.5"> #mathmatician #coder #wanna-be-designer #college-student</p>
  <!-- TODO: put an animation/interaction/game here -->

  <p class="">Hi! I'm Ina (Yina) Tang from Shanghai, China.</p>
  <p class="mt-0.5">
    I enjoy mathematics and coding (yes, even in my spare time), as well as philosophy and theology.
    I am currently reading the <i>Pensées</i> and <i>Anne of Green Gables</i>. My goal this year is to finish <i>The Simarilion</i>...
  </p>

  <pre><code class="text-secondary">
&#x003E <span class="text-red">ls</span> <!-- &#x003E == '>'; for better highlighting in IDEs-->
<a class="hover:text-blue transition" href="/blog/">blog</a>
<a class="hover:text-blue transition" href="/projects/">projects</a>
<a class="hover:text-blue transition" href="/tags/">tags</a>
  </code></pre> <!-- DON'T LINT THIS for the margin between the social... -->

  <Links />

  <!-- CV/RESUMÉ GITHUB GOODREADS (underline) -->
    <!-- <Social platform="github" username="i7t5" /> -->

</BaseLayout>
