---
const isHomepage = Astro.url.pathname == "/";
const destinations = ['/blog/', '/projects/', '/tags/'].filter(dest => Astro.url.pathname != dest);

---

<footer class="mt-4">
  {
    !isHomepage && (
      <div class="text-secondary font-mono">
        <span class="group">
          <span>&#x003E </span>
          <a class="text-red xl:text-secondary xl:hover:text-red transition duration-300" href="/" title="Go to homepage">cd</a>
          <!-- the following should be navlinks -->
          <!-- would be nice if we can get rid of appear on hover ITSELF for the following. display won't work well with transition -->
          {destinations.map((dest: any) => <a class="xl:opacity-0 group-hover:opacity-100 block hover:text-blue transition-all duration-300" href={dest}>{dest.substring(1, dest.length-1)}</a>)}
        </span>
      </div>
    )
  }
</footer>
