<div class="text-gray-4 mt-2">
  <a class="hover:text-purple border-b-1.5 transition mr-1" href="/assets/resume-cv.pdf">CV/RESUMÉ</a>
  <a class="hover:text-black border-b-1.5 transition mr-1" href="https://www.github.com/i7t5">GitHub</a>
  <a class="hover:text-amber border-b-1.5 transition mr-1" href="https://www.goodreads.com/user/show/163078389-ina-tang">Goodreads</a>
</div>

