---
import NavLink from "./NavLink.astro";
---

<!-- <div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div> -->
<nav>
    <!-- <NavLink content="Home" href="/" /> -->
    <NavLink content="it" href="/" />
    <NavLink content="Blog" href="/blog/" />
    <NavLink content="Research & Projects" href="/projects/" />
    <!-- <NavLink content="Research" href="/research/" /> -->
        <!-- <style>
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  /* display: none; */
  margin: 0;
}

a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover, a:focus {
  background-color: #ff9776;
}

/* .expanded {
  display: unset;
} */
</style> -->
</nav>
