---
import { getCollection } from "astro:content";

const { tag } = Astro.props;
const tagStr = tag.toLowerCase().replace(/ /g, "-");  // snake-case tags

const allPosts = await getCollection("blog")
const allWorks = await getCollection("works")
const postTags = allPosts.map((post: any) => post.data.tags).flat(); 
const workTags = allWorks.map((work: any) => work.data.tags).flat(); 
const tags = [...new Set(postTags.concat(workTags))];
let url = (tags.includes(tag)) ? `/tags/${tag}` : "javascript:;"
---

<a class="pr-1 hover:text-blue transition" href={url}>#{tagStr}</a>