---
import { getCollection } from "astro:content";
import { COLLECTION } from "../collections";

const { tag } = Astro.props;
const tagStr = tag.toLowerCase().replace(/ /g, "-");  // snake-case tags

const allPosts = await getCollection(COLLECTION.blog)
const allResearch = await getCollection(COLLECTION.research)
const postTags = allPosts.map((post: any) => post.data.tags).flat();
const researchTags = allResearch.map((research: any) => research.data.tags).flat();
const tags = [...new Set(postTags.concat(researchTags))];
let url = (tags.includes(tag)) ? `/tags/${tag}` : "javascript:;"
---

<a class="pr-1 hover:text-blue transition" href={url}>#{tagStr}</a>