---
import { getCollection } from "astro:content";

const { tag } = Astro.props;
const tagStr = tag.toLowerCase().replace(/ /g, "-");

const allPosts = await getCollection("blog")
const allProjects = await getCollection("projects")
const postTags = allPosts.map((post: any) => post.data.tags).flat(); 
const projectTags = allProjects.map((project: any) => project.data.tags).flat(); 
const tags = [...new Set(postTags.concat(projectTags))];
let url = (tags.includes(tag)) ? `/tags/${tag}` : "javascript:;"
---

<a class="pr-1 hover:text-blue transition" href={url}>#{tagStr}</a>