---
import { getCollection } from "astro:content";
import { COLLECTION } from "../collections";
const { tool } = Astro.props;
const toolStr = tool.toLowerCase().replace(/ /g, "-");  // snake-case tools

const allResearch = await getCollection(COLLECTION.research)
const tools = [...new Set(allResearch.map((research: any) => research.data.tools).flat())];
// let url = (tools.includes(tool)) ? `/tool/${tool}` : "javascript:;"
---

<a class="pr-0.25 font-mono text-0.8rem transition">{toolStr}</a>

<!-- TODO: implement href and hover:font-bold -->