---
import Tag from "../components/Tag.astro";
const { post } = Astro.props;
const pubDate = post.data.pubDate
const publishedThisYear = pubDate.getFullYear() == new Date().getFullYear()
const postDate = publishedThisYear ? pubDate.toLocaleDateString(undefined, {month: 'short', day: 'numeric'}) :
  pubDate.toLocaleDateString(undefined, {month: 'short', day: 'numeric', year: 'numeric'}) 
// TODO: incorporate year into blog post listmap
---

<li class="py-1">
  <a class="hover:italic" href={`/posts/${post.id}`}>{post.data.title}</a>
  <span class="text-gray-4"> · {postDate}</span>
  <div class="text-gray-3">{post.data.tags.map((tag: any) => <Tag tag={tag} />)}</div>
</li>